<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Factor things</title>
  <link rel="stylesheet" href="./style.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>

  <!-- Parse params. -->
  <script>
    let groupNum = parseInt('{{ group }}');
    let numGroups = parseInt('{{ num_groups }}');
    let maxNum = parseInt('{{ max_num }}');
    let user = '{{ user }}';
    let ignoreLevels = '{{ ignore_levels }}' === 'True';
    let gameId = '{{ game_id }}';
  </script>

  <script src="./go.js" defer></script>
</head>
<body>

  <div class="toolbar">
    User: {{ user }}
    <a href="/landing?user={{ user }}&max_num={{ max_num }}&group={{ group }}&num_groups={{ num_groups }}">Back</a>
    <a href="/">Log out</a>
  </div>

  <div class="container">
    <p><label for="input" class="js-label label">Loading…</label></p>
    <p><input type="text" id="input" class="js-input input"></p>
    <p class="js-status-text"></p>
  </div>

  <div class="js-overlay overlay"></div>
</body>
</html>
