<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Factor things</title>
  <link rel="stylesheet" href="./style.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>
  <script src="./Uri.js"></script>
  <script src="./main.js" defer></script>
</head>
<body>

  <div class="container">
    <p><label for="input" class="js-label label">Loading…</label></p>
    <p><input type="text" id="input" class="js-input input"></p>
    <p class="js-status-text"></p>
  </div>

  <div class="js-overlay overlay"></div>
</body>
</html>