<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
  <title>Factor things</title>
</head>
<body>
  <div class="container">
    <form action="landing" method="post">
      <label class="label" for="user">Enter username:</label>
      <br>
      <input class="input" type="text" name="user" id="user">
    </form>
  </div>

  <script>
    'use strict'

    function main() {
      document.getElementById('user').focus();
    }

    if (document.readyState != 'loading'){
      main();
    } else {
      document.addEventListener('DOMContentLoaded', main);
    }

  </script>

</body>
</html>
